/* SETUP */
@import url('setup/vars.css');

/* BASICS */
@import url('basics/base.css');
@import url('basics/layout.css');
@import url('basics/helpers.css');

/* COMPONENTS */

@import url('components/footer.css');
@import url('components/header.css');
@import url('components/gallery.css');
@import url('components/editor.css');
@import url('components/search.css');
@import url('components/main-screen.css');

/* MQ */
@import url('setup/mq.css');