.flex {
    display: flex;
}

.grid{
    display: grid;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.place-items-center{
    place-items: center;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hide{
    display: none;
}
