.main-layout {
    display: grid;
    grid-template-columns:1fr;
    >*{
        grid-column: 1;
    }
    >.full {
        grid-column: 1 / -1;
    }
}

main{
    padding-top: 0.5rem;
    align-self: center;
}

.editor{
    grid-template-columns: 1fr 1fr;
}

.search{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 1rem;
    .search-sec{
        grid-column: 1;
    }
    .categories{
        grid-column: 2;
    }
}

.canvas-container{
    grid-column: 1;
}

.edit-panel{
    grid-column: 2;
}