.editor{
    gap: 1rem;
    margin: auto;    
    background-color: rgba(var(--color6), 0.6);
    padding: 4rem;
    border-radius: 10px;

    button{
        border: none;
        border-radius: 5px;
        padding: 0.4rem;
        background-color: var(--color5);
    }

    button:hover{
        background-color: gray;
    }
    .arrow{
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
        padding-bottom: 0.2rem;
    }

    canvas{
        border-radius: 5px;
    }

    .edit-panel{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        padding: 1rem;
        background-color: var(--sec-color);
        border-radius: 5px;
        gap: 0.4 rem;
        >*{
            padding: 0.4rem;
            display: flex;
            place-self: center;
            place-content: center;
        }
    }

    input{
        width: 100%;
        border:none;
        border-radius: 5px;
    }

    input:focus {
      outline: 2px solid var(--prim-color); 
      outline-offset: 2px;
    }

    .line-edit-btns{
        background-color: var(--color4);
        padding: 0.5rem;
        border-radius: 10px;
        gap: 1rem;
    }

    .text-edit-btns{
        flex-direction: column;
        place-items: center;
        background-color: var(--color4);
        padding: 1rem;
        border-radius: 10px;
        gap: 1rem;
    }

    .stickers{
        gap: 0.5rem;
        background-color: var(--color5);
        border-radius: 5px;
    }

    #color{
        cursor: pointer;
    }

    .color-btn:hover{
        background-color: gray;
    }

    .sticker{
        height: 40px;
        cursor: pointer;
    }

    .sticker:hover {
        transform: scale(1.50);
        transition: 0.3s ease;
    }

    .share{
        display: flex;
        justify-content: space-between;
    }

    .fa-angle-right, .fa-angle-left{
        font-size: 2rem;
    }

    .btn{
        padding: 0.6em 1.2em;
        text-decoration: none;
        border-radius: 5px;
        background-color: var(--color4);
    }

    .btn:hover{
        background-color: gray;
    }

    .color{
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .color-btn{
        font-size: 1rem;          
        background: var(--color5);
        padding: 0.5em 0.5em;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}