.editor{
    gap: 1rem;
    margin: auto;

    button{
        border: none;
        border-radius: 5px;
        padding: 0.4rem;
        background-color: var(--color5);
    }
    .arrow{
        border: none;
        background-color: transparent;
        outline: none;
        padding: 0;
        padding-bottom: 0.2rem;
    }
}

.edit-panel{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding: 1rem;
    background-color: var(--sec-color);

    gap: 0.4 rem;

    >*{
        padding: 0.4rem;        
    }
}

.line-edit-btns{
    place-self: center;
    background-color: var(--color4);
    padding: 0.5rem;
    border-radius: 10px;
}

.text-edit-btns{
    place-self: center;
    place-items: center;
    display: flex;
    flex-direction: column;

    background-color: var(--color4);

    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
}

.stickers{
    display: flex;
    justify-content: space-between;
    background-color: var(--color5);
    border-radius: 5px;
}

#color{
    cursor: pointer;
}

.sticker{
    height: 40px;
    cursor: pointer;
}

.share{
    display: flex;
    justify-content: space-between;
}

.fa-angle-right, .fa-angle-left{
    font-size: 2rem;
}

.btn{
    padding: 0.6em 1.2em;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--color4);
}

.color{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.color-btn{
    font-size: 1rem;          
    background: var(--color5);
    padding: 0.5em 0.5em;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
