.gallery{
    flex-direction: column;
    width: 100%;
    >*{
        width: 100%;
    }
    h2{
        color: #202020;
        margin-bottom: 0.5rem;
       text-align: center;
    }
}

.pictures{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    background-color: rgba(var(--color6), 0.6);
    border-radius: 5px;
    margin-bottom: 0.5rem;
    width: 100%;
    >*{
        margin: 1rem;
    }
    img{
        height: 250px;
        cursor: pointer;
        border-radius: 10px;
    }

    img:hover {
        transform: scale(1.05);
        transition: 0.3s ease;
    }
}
