.gallery{
    flex-direction: column;
    gap: 1rem;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content:space-evenly;
}

.pictures img {
    border-radius: 10px;
}
