header{
    align-self: start;
}

.logo{
    height: 5rem;
}


.main-nav-list a {
    color: var(--color1);
}

.btn-toggle-menu{
    cursor: pointer;
    background-color: var(--color2);
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
}