.inner-header{
    align-items: center;
}

.logo{
    height: 8rem;
}

.main-nav-list li a {
    color: var(--color1);
    font-size: 1.2rem;
    text-align: end;
}

.main-nav-list li a:hover{
    color: var(--color5);
    font-weight: bold;
}

.btn-toggle-menu{
    cursor: pointer;
    background-color: var(--color4);
    color: var(--color5);
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.5rem;
}
