.search{
    background-color: rgba(var(--color6), 0.6);
    padding: 2rem;
    border-radius: 5px 5px;
}

.search-sec input{
    width: 200px;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
    background-color: transparent;
}

.search-sec button{
    border: none;
    background-color: transparent;
}