/* mobile only */

@media (max-width: 840px) {
    html{
        font-size: 14px;
    }

    .inner-header{
        margin-right: 1rem;
    }

    nav{
        display: none;
    }

    .categories{
        li:first-child, 
        li:last-child{
            display: block;
        }
    }

    .editor{
        grid-template-columns:1fr;
        >*{
            grid-column: 1;
        }
    }

    .edit-panel{
        gap: 0.5rem;
    }

    .main-nav {
        display: grid;
        grid-template-rows: 0fr;
        align-content: end;
        align-items: end;
        position: fixed;
        background-color: var(--sec-color);
        top: 80px;
        left: 0;
        width: 100%;
        overflow: hidden;
        transition: grid-template-rows .6s;

        body.menu-open & {
        grid-template-rows: 1fr;
        }
    }

    .main-nav-list {
        flex-direction: column;
        min-height: 0;

        >li {
        border-bottom: 1px solid var(--color1);
            >a {
                flex-basis: 100%;
                height: 100px;
                color: black;
                display: grid;
                place-items: center;
                transition: box-shadow .4s;
            }
        }
    }
}

/* Small BP */

@media (min-width: 840px) {

    html{
        font-size: 16px;
    }

    .main-layout {
        display: grid;
        grid-template-columns: 1fr minmax(0, 880px) 1fr;

        >*{
            grid-column: 2;
        }

        >.full {
            grid-column: 1 / -1;
        }
    }

    .main-nav-list>li>a {
        width: 100px;
    } 

    .btn-toggle-menu {
        display: none;
    }

    .categories{
        li {
            display: block;
        }
    }

    .move-up-btn, .move-down-btn{
        display: inline-block;
    }

    .pictures{
        grid-template-columns: repeat(3, 1fr);
    }

}